*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'NotoSerif';
  src: url('./assets/fonts/NotoSerif-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #fefefe;
  }
}

body {
    font-family: 'NotoSerif', sans-serif;
    font-size: 16px;
}

.answer {
    font-family: 'NotoSerif', sans-serif;
    font-size: 16px;
    background-color: #fefefe;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    margin-bottom: 12px;
    padding: 10px;
    width: 100%;
    text-align: left;
}

.question {
    color: #000000;
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
}

header {
    font-family: 'Roboto';
    background-color: #e6edf8;
    color: #000000;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.hidebutton {
    font-family: 'Roboto';
    background: none;
    border: 1px solid black;
    padding: 3px 15px;
    border-radius: 100px;
}

.timer {
    margin-bottom: 1px;
    padding: 10px;
}

.toolbar {
    font-family: 'Roboto';
    display: flex;
    width: 700px; 
    height: 30px; 
    background-color: #f0f0f0;
    color: #000000;
    margin-bottom: 15px;
    align-items: center;
}

.toolbar p:nth-child(1){
    background-color: #000000;
    color: #fefefe;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;

}

footer {
    font-family: 'Roboto';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    background-color: #e6edf8;
    color: #000000;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.name {
    padding: 20px;
    text-align: left;
    margin-left: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.totals {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    width: fit-content;
    text-align: center;
    font-size: 20px;
    background-color: #000000;
    color: #f0f0f0;
    justify-self: center; 
    border-radius: 10px;
}

.nav-question {
    background-color: #324dc7;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    justify-self: right;
    color: #f0f0f0;
    border: 0px;
}