@font-face {
  font-family: 'NotoSerif';
  src: url('./assets/fonts/NotoSerif-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #fefefe;
  }
}

body {
    font-family: 'NotoSerif', sans-serif;
}

button {
    font-family: 'NotoSerif', sans-serif;
}

p {
    color: #000000;
}